body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.circle {
  width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden; /* Hides overflow */
      display: flex;
      justify-content: center;
      align-items: center;
}

.circle img {
  width: 100px;
  height: 100px;
}

.header-container {
  display: flex;
}

